/* line 2, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/contacts.scss */
.contact-style {
  text-align: center;
  width: 700px;
  height: 600px;
  margin: 0 auto;
  font-family: serif;
  font-size: 15px;
  color: #777;
}

/* line 12, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/contacts.scss */
#page_title {
  font-family: sans-serif;
  color: #777;
  padding: 30px;
}

/* line 19, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/contacts.scss */
#contact_name {
  height: 30px;
  width: 200px;
  margin-bottom: 15px;
}

/* line 27, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/contacts.scss */
#contact_email {
  height: 30px;
  width: 300px;
  margin-bottom: 15px;
}

/* line 35, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/contacts.scss */
#contact_message {
  height: 300px;
  width: 600px;
}

/* line 41, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/contacts.scss */
.thanks {
  padding: 20px;
  text-align: center;
  width: 700px;
  margin: 0 auto;
  font-family: serif;
  font-size: 15px;
  color: #2C3E50;
}

/* line 51, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/contacts.scss */
.thanks p {
  font-size: 20px;
}

/* line 55, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/contacts.scss */
.bertrand-pipe {
  display: block;
  margin: auto;
  padding-bottom: 100px;
}
/*!
 * Start Bootstrap - Freelancer v3.3.7+1 (http://startbootstrap.com/template-overviews/freelancer)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
/* line 8, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

/* line 12, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
p {
  font-size: 20px;
}

/* line 15, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
p.small {
  font-size: 16px;
}

/* line 18, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
a,
a:hover,
a:focus,
a:active,
a.active {
  color: #18BC9C;
}

/* line 25, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

/* line 35, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
hr.star-light,
hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}

/* line 44, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
hr.star-light:after,
hr.star-primary:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}

/* line 54, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
hr.star-light {
  border-color: white;
}

/* line 57, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
hr.star-light:after {
  background-color: #18BC9C;
  color: white;
}

/* line 61, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
hr.star-primary {
  border-color: #2C3E50;
}

/* line 64, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
hr.star-primary:after {
  background-color: white;
  color: #2C3E50;
}

/* line 68, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.img-centered {
  margin: 0 auto;
}

/* line 71, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
header {
  text-align: center;
  background: #18BC9C;
  color: white;
}

/* line 76, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}

/* line 80, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
header img {
  display: block;
  margin: 0 auto 20px;
}

/* line 84, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
header .intro-text .name {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}

/* line 91, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}

@media (min-width: 768px) {
  /* line 96, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
  header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }

  /* line 100, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
  header .intro-text .name {
    font-size: 4.75em;
  }

  /* line 103, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
  header .intro-text .skills {
    font-size: 1.75em;
  }
}
/* line 107, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.navbar-custom {
  background: #2C3E50;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}

/* line 114, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.navbar-custom .navbar-brand {
  color: white;
}

/* line 117, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: white;
}

/* line 123, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}

/* line 126, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.navbar-custom .navbar-nav li a {
  color: white;
}

/* line 129, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.navbar-custom .navbar-nav li a:hover {
  color: #18BC9C;
}

/* line 132, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: white;
}

/* line 136, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #18BC9C;
}

/* line 140, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #18BC9C;
}

/* line 146, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.navbar-custom .navbar-toggle {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  border-color: white;
}

/* line 152, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #18BC9C;
  color: white;
  border-color: #18BC9C;
}

@media (min-width: 768px) {
  /* line 159, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
  .navbar-custom {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }

  /* line 165, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  /* line 171, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
  .navbar-custom.affix {
    padding: 10px 0;
  }

  /* line 174, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
/* line 178, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
section {
  padding: 100px 0;
}

/* line 181, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
section h2 {
  margin: 0;
  font-size: 3em;
}

/* line 185, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
section.success {
  background: #18BC9C;
  color: white;
}

@media (max-width: 767px) {
  /* line 190, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
  section {
    padding: 75px 0;
  }

  /* line 193, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
  section.first {
    padding-top: 75px;
  }
}
/* line 197, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}

/* line 201, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

/* line 207, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(24, 188, 156, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}

/* line 217, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}

/* line 220, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}

/* line 230, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}

/* line 233, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}

/* line 237, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  /* line 241, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
/* line 245, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}

/* line 251, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}

/* line 264, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}

/* line 280, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}

/* line 284, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

/* line 288, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.floating-label-form-group-with-focus label {
  color: #18BC9C;
}

/* line 291, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}

/* line 294, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
footer {
  color: white;
}

/* line 297, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
footer h3 {
  margin-bottom: 30px;
}

/* line 300, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
footer .footer-above {
  padding-top: 50px;
  background-color: #2C3E50;
}

/* line 304, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
footer .footer-col {
  margin-bottom: 50px;
}

/* line 307, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
}

/* line 311, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}

/* line 319, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #18BC9C;
  background: white;
  border: solid 2px white;
}

/* line 327, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.btn-primary {
  color: white;
  background-color: #2C3E50;
  border-color: #2C3E50;
  font-weight: 700;
}

/* line 333, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #1a242f;
  border-color: #161f29;
}

/* line 342, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

/* line 347, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #2C3E50;
  border-color: #2C3E50;
}

/* line 365, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.btn-primary .badge {
  color: #2C3E50;
  background-color: white;
}

/* line 369, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.btn-success {
  color: white;
  background-color: #18BC9C;
  border-color: #18BC9C;
  font-weight: 700;
}

/* line 375, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: white;
  background-color: #128f76;
  border-color: #11866f;
}

/* line 384, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}

/* line 389, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #18BC9C;
  border-color: #18BC9C;
}

/* line 407, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.btn-success .badge {
  color: #18BC9C;
  background-color: white;
}

/* line 411, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

/* line 421, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
}

/* line 429, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.scroll-top .btn {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 28px;
}

/* line 436, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}

/* line 446, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.portfolio-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}

/* line 450, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

/* line 453, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}

/* line 456, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

/* line 465, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

/* line 468, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #2C3E50;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}

/* line 480, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #2C3E50;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}

/* line 491, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}

/* line 495, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
#skipnav a {
  padding: 6px;
  position: absolute;
  top: -40px;
  left: 0px;
  color: white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-right-radius: 8px;
  background: transparent;
  transition: top 1s ease-out, background 1s linear;
  z-index: 2000;
}

/* line 508, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
#skipnav a:focus {
  position: absolute;
  left: 0px;
  top: 0px;
  background: #18BC9C;
  outline: 0;
  transition: top 0.1s ease-in, background 0.5s linear;
}

/* line 516, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/freelancer.css.scss */
div#maincontent {
  outline: none;
}
/*!
 * Start Bootstrap - Portfolio Item (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
/* line 8, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/portfolio-item.css.scss */
body {
  padding-top: 70px;
}

/* line 13, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/portfolio-item.css.scss */
.portfolio-item {
  margin-bottom: 25px;
}

/* line 17, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/portfolio-item.css.scss */
footer {
  margin: 50px 0;
}
/* line 1, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 10, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
p, ol, ul, td {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin: 33px;
}

/* line 17, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 24, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
th {
  padding-bottom: 5px;
}

/* line 28, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 35, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 40, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
label[for="russ_post_body"] {
  display: none;
}

/* line 45, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
#notice {
  color: green;
}

/* line 49, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 55, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 63, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 74, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 80, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
label {
  display: block;
}

/* line 84, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
trix-editor {
  height: 500px;
  width: 800px;
  overflow: auto;
}

/* line 90, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
trix-toolbar {
  text-align: center;
}

/* line 95, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
.formatted_content {
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}

/* line 101, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
.h1, h1 {
  text-align: center;
  color: #2C3E50;
}

/* line 106, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
.actions {
  text-align: center;
}

/* line 110, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
a {
  font-size: 20px;
}

/* line 114, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
input[type="button"] {
  font-size: 40px;
  color: #fff;
  background-color: #2C3E50;
  border: 5px solid;
  border-color: #2C3E50;
  position: relative;
  top: 60px;
  border-radius: 8px;
}

/* line 125, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
input[type="submit"] {
  font-size: 30px;
  color: #2C3E50;
  background-color: inherit;
  border: 5px solid;
  border-color: #2C3E50;
  position: relative;
  top: 20px;
  border-radius: 8px;
}

/* line 136, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
input[type="submit"]:hover {
  background-color: #2C3E50;
  color: #fff;
}

/* line 142, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
.img-responsive {
  position: relative;
  top: -150px;
}

/* line 147, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
header .intro-text .name {
  position: relative;
  top: -145px;
}

/* line 152, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
header .intro-text .skills {
  position: relative;
  top: -145px;
}

/* line 157, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
hr.star-light {
  display: none;
  position: relative;
  top: -145px;
}

/* line 163, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
.eval {
  font-size: 50px;
  color: #2C3E50;
  text-align: center;
}

/* line 169, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
.eval-image {
  display: block;
  margin: auto;
  padding-top: 30px;
}

/* line 176, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
.visit {
  color: #18BC9C;
  margin: 5px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 182, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
.button {
  color: #fff;
  background-color: #2C3E50;
  padding: 8px 22px;
  margin: 20px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  border-radius: 8px;
}

/* line 193, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
.button:hover {
  text-decoration: none;
}

/* line 197, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
.visit:hover {
  text-decoration: none;
}

/* line 201, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
.intro-text {
  height: 5px;
}

/* line 205, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
.enter-text {
  color: #2C3E50;
}

/* line 209, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
.bottom-buttons {
  display: block;
  padding: 25px;
  text-align: center;
}

/* line 216, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
.row {
  padding-bottom: 30px;
}

/* line 220, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
.sub-text {
  text-align: center;
  color: #777;
}

/* line 226, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
.text-center {
  position: relative;
  top: -60px;
}

/* line 230, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
.paragraph-content {
  position: relative;
  top: -90px;
  text-align: center;
  display: block;
}

/* line 237, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
.img-post {
  display: block;
  margin: 0 auto;
  width: 190%;
  border-radius: 15px 50px;
  position: relative;
  bottom: 70px;
}

/* line 247, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
.col-lg-12 text-center, h2 {
  padding-bottom: 20px;
}

/* line 251, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
.success {
  position: relative;
  top: -100px;
}

/* line 256, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/russ_posts.scss */
.concept-title {
  color: #18BC9C;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *




 */
/* line 22, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/application.css.scss */
trix-editor {
  height: 500px;
  width: 800px;
  overflow: auto;
}

/* line 28, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/application.css.scss */
trix-toolbar {
  text-align: center;
}

/* line 33, /Users/nikolascochran/Desktop/portfolio/app/assets/stylesheets/application.css.scss */
.formatted_content {
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}

/*
Trix 0.9.10
Copyright © 2016 Basecamp, LLC
http://trix-editor.org/*/

trix-editor {
  color: #111;
  border: 1px solid #bbb;
  border-radius: 3px;
  margin: 0;
  padding: 4px 8px;
  min-height: 54px;
  outline: none; }
trix-toolbar * {
  box-sizing: border-box; }
trix-toolbar .button_group {
  display: inline-block;
  font-size: 0;
  margin: 0 8px 4px 0;
  border: 1px solid #bbb;
  border-top-color: #ccc;
  border-bottom-color: #888;
  border-radius: 5px;
  overflow: hidden; }
  trix-toolbar .button_group:last-of-type {
    margin-right: 0; }
  trix-toolbar .button_group button, trix-toolbar .button_group input[type=button] {
    position: relative;
    font-size: 0;
    margin: 0;
    height: 28px;
    width: 40px;
    background: #fff;
    border: none;
    border-bottom: 1px solid #ddd; }
    trix-toolbar .button_group button::before, trix-toolbar .button_group input[type=button]::before {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-position: center;
      background-repeat: no-repeat;
      opacity: .6;
      content: ""; }
    trix-toolbar .button_group button.active, trix-toolbar .button_group input[type=button].active {
      background: #cbeefa; }
      trix-toolbar .button_group button.active::before, trix-toolbar .button_group input[type=button].active::before {
        opacity: 1; }
    trix-toolbar .button_group button:disabled::before, trix-toolbar .button_group input[type=button]:disabled::before {
      opacity: .125; }
    trix-toolbar .button_group button:not(:first-child), trix-toolbar .button_group input[type=button]:not(:first-child) {
      border-left: 1px solid #ccc; }
trix-toolbar .dialogs {
  position: relative; }
  trix-toolbar .dialogs .dialog {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 12px 8px;
    line-height: 12px;
    background: #fff;
    box-shadow: 0 0.3rem 1rem #ccc;
    border-top: 2px solid #888;
    border-radius: 5px;
    z-index: 5; }
    trix-toolbar .dialogs .dialog input[type=button] {
      font-size: 12px;
      height: 24px;
      width: 50px;
      padding: 1px 8px 0 8px;
      width: auto;
      opacity: .6;
      -webkit-appearance: none;
      -webkit-border-radius: 0; }
    trix-toolbar .dialogs .dialog input[type=url], trix-toolbar .dialogs .dialog input[type=text] {
      display: inline-block;
      height: 26px;
      font-size: 12px;
      padding: 0 8px;
      margin: 0 8px 0 0;
      border-radius: 5px;
      border: 1px solid #bbb;
      background-color: #fff;
      box-shadow: none;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none; }
      trix-toolbar .dialogs .dialog input[type=url].validate:invalid, trix-toolbar .dialogs .dialog input[type=text].validate:invalid {
        box-shadow: #F00 0px 0px 1.5px 1px; }
    trix-toolbar .dialogs .dialog.link_dialog {
      min-width: 300px;
      max-width: 600px; }
      trix-toolbar .dialogs .dialog.link_dialog .button_group {
        max-width: 110px; }
      trix-toolbar .dialogs .dialog.link_dialog input[type=url] {
        float: left;
        width: calc(100% - 120px); }
trix-toolbar .button_group button.bold::before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M15.6%2011.8c1-.7%201.6-1.8%201.6-2.8a4%204%200%200%200-4-4H7v14h7c2%200%203.7-1.7%203.7-3.8%200-1.5-.8-2.8-2-3.4zM10%207.5h3a1.5%201.5%200%200%201%200%203h-3v-3zm3.5%209H10v-3h3.5a1.5%201.5%200%200%201%200%203z%22%2F%3E%3C%2Fsvg%3E"); }
trix-toolbar .button_group button.italic::before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M10%205v3h2.2l-3.4%208H6v3h8v-3h-2.2l3.4-8H18V5h-8z%22%2F%3E%3C%2Fsvg%3E"); }
trix-toolbar .button_group button.link::before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M9.88%2013.7a4.3%204.3%200%200%201%200-6.07l3.37-3.37a4.26%204.26%200%200%201%206.07%200%204.3%204.3%200%200%201%200%206.06l-1.96%201.72a.9.9%200%200%201-1.3-1.3l1.97-1.7a2.46%202.46%200%200%200-3.48-3.5l-3.38%203.38a2.46%202.46%200%200%200%200%203.48.9.9%200%200%201-1.3%201.3z%22%2F%3E%3Cpath%20d%3D%22M4.25%2019.46a4.3%204.3%200%200%201%200-6.07l1.93-1.9a.9.9%200%200%201%201.3%201.27l-1.93%201.9a2.46%202.46%200%200%200%203.48%203.5l3.37-3.4c.96-.95.96-2.5%200-3.47a.9.9%200%200%201%201.3-1.28%204.3%204.3%200%200%201%200%206.06l-3.38%203.38a4.26%204.26%200%200%201-6.07%200z%22%2F%3E%3C%2Fsvg%3E"); }
trix-toolbar .button_group button.strike::before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M12.73%2014l.28.14c.3.15.5.3.6.44.1.14.2.3.2.5%200%20.3-.1.56-.4.75-.3.2-.75.3-1.4.3a13.52%2013.52%200%200%201-5-1.18v3.38a10.64%2010.64%200%200%200%204.86.88%209.5%209.5%200%200%200%203.28-.5c.93-.34%201.64-.9%202.14-1.54s.74-1.45.74-2.32c0-.25%200-.5-.05-.74h-5.2zm-5.5-4c-.08-.34-.12-.7-.12-1.1%200-1.3.6-2.3%201.6-3.02a7.75%207.75%200%200%201%204.4-1.08c1.6%200%203.3.34%205%201l-1.3%202.93c-1.47-.6-2.73-.9-3.8-.9-.55%200-.96.08-1.2.26a.7.7%200%200%200-.38.6c0%20.2.16.5.48.7.18.1.54.3%201.06.5h-5.7zM3%2013h18v-2H3v2z%22%2F%3E%3C%2Fsvg%3E"); }
trix-toolbar .button_group button.quote::before {
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M6%2017h3l2-4V7H5v6h3zm8%200h3l2-4V7h-6v6h3z%22%2F%3E%3C%2Fsvg%3E"); }
trix-toolbar .button_group button.heading-1::before {
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M12%209v3H9v7H6v-7H3V9h9zM8%204h14v3h-6v12h-3V7H8V4z%22%2F%3E%3C%2Fsvg%3E"); }
trix-toolbar .button_group button.code::before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M18.2%2012L15%2015.2l1.4%201.4L21%2012l-4.6-4.6L15%208.8l3.2%203.2zM5.8%2012L9%208.8%207.6%207.4%203%2012l4.6%204.6L9%2015.2%205.8%2012z%22%2F%3E%3C%2Fsvg%3E"); }
trix-toolbar .button_group button.bullets::before {
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M4%204a2%202%200%201%200%200%204%202%202%200%200%200%200-4zm0%206a2%202%200%201%200%200%204%202%202%200%200%200%200-4zm0%206a2%202%200%201%200%200%204%202%202%200%200%200%200-4zm4%203h14v-2H8v2zm0-6h14v-2H8v2zm0-8v2h14V5H8z%22%2F%3E%3C%2Fsvg%3E"); }
trix-toolbar .button_group button.numbers::before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M2%2017h2v.5H3v1h1v.5H2v1h3v-4H2v1zm1-9h1V4H2v1h1v3zm-1%203h1.8L2%2013v1h3v-1H3.2L5%2011v-1H2v1zm5-6v2h14V5H7zm0%2014h14v-2H7v2zm0-6h14v-2H7v2z%22%2F%3E%3C%2Fsvg%3E"); }
trix-toolbar .button_group button.nesting-level.decrease::before, trix-toolbar .button_group button.block-level.decrease::before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M3%2019h19v-2H3v2zm7-6h12v-2H10v2zm-8.3-.3l2.8%203L6%2014l-2.3-2%202-2-1.3-1.5L1%2012l.7.7zM3%205v2h19V5H3z%22%2F%3E%3C%2Fsvg%3E"); }
trix-toolbar .button_group button.nesting-level.increase::before, trix-toolbar .button_group button.block-level.increase::before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M3%2019h19v-2H3v2zm7-6h12v-2H10v2zm-7-1l-2%202.2%201.4%201.4L6%2012l-.8-.7-2.8-2.8L1%2010l2%202zm0-7v2h19V5H3z%22%2F%3E%3C%2Fsvg%3E"); }
trix-toolbar .button_group button.undo::before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M12.5%208c-2.6%200-5%201-7%202.6L2%207v9h9l-3.6-3.6A8%208%200%200%201%2020%2016l2.4-.8a10.5%2010.5%200%200%200-10-7.2z%22%2F%3E%3C%2Fsvg%3E"); }
trix-toolbar .button_group button.redo::before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M18.4%2010.6a10.5%2010.5%200%200%200-17%204.6L4%2016a8%208%200%200%201%2012.6-3.6L13%2016h9V7l-3.6%203.6z%22%2F%3E%3C%2Fsvg%3E"); }
@charset "UTF-8";
trix-editor [data-trix-mutable=true] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  trix-editor [data-trix-mutable=true] img {
    box-shadow: 0 0 0 2px highlight; }
trix-editor .attachment .remove {
  display: block;
  position: absolute;
  top: -12px;
  right: -12px;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  line-height: 22px;
  font-size: 0;
  color: black;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #bbb;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1); }
  trix-editor .attachment .remove:after {
    content: '×';
    font-size: 18px;
    font-weight: bold;
    opacity: 0.6; }
  trix-editor .attachment .remove:hover:after {
    opacity: 1; }
trix-editor .attachment .caption.caption-editing textarea {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none; }
@charset "UTF-8";
.trix-content h1 {
  font-size: 1.6em;
  margin: 10px 0; }
.trix-content blockquote {
  margin: 0 0 0 5px;
  padding: 0 0 0 10px;
  border-left: 5px solid #ccc; }
.trix-content pre {
  font-family: monospace;
  font-size: 12px;
  margin: 0;
  padding: 10px;
  white-space: pre-wrap;
  background-color: #eee; }
.trix-content ul, .trix-content ol, .trix-content li {
  margin: 0;
  padding: 0; }
  .trix-content ul li, .trix-content ol li, .trix-content li li {
    margin-left: 20px; }
.trix-content img {
  max-width: 100%;
  height: auto; }
.trix-content a[data-trix-attachment] {
  color: inherit;
  text-decoration: none; }
  .trix-content a[data-trix-attachment]:hover, .trix-content a[data-trix-attachment]:visited:hover {
    color: inherit; }
.trix-content .attachment {
  position: relative;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  padding: 0;
  color: #666;
  font-size: 13px; }
  .trix-content .attachment.attachment-file {
    color: #333;
    line-height: 30px;
    padding: 0 16px;
    border: 1px solid #bbb;
    border-radius: 5px; }
  .trix-content .attachment .caption {
    display: block;
    margin: 4px auto 0 auto;
    padding: 0;
    text-align: center; }
    .trix-content .attachment .caption .size:before {
      content: ' · '; }
