<h1>Enter or Paste Text Below</h1>

<%= render 'form', russ_post: @russ_post %>

<%= link_to 'Back', russ_posts_path, class: "btn btn-primary btn-default", class: "glyphicon glyphicon-chevron-left" %>


<!-- <a href="#" class="btn btn-primary btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Default text here</a> -->