<link rel="stylesheet" type="text/css" href="/assets/trix.css">
<script type="text/javascript" src="/assets/trix.js"></script>


<h1 class="enter-text">Enter or Paste Text Below</h1>
<h6 class="sub-text">(Text less than a paragraph long will have diminished accuracy)</h6>

<%= render 'form', russ_post: @russ_post %>

<%= link_to 'Back', posts_path, class: "button" %>

