<!-- Header -->
<header>
<div class="evaluate">
    <%= button_to "Click To Evaluate Text", new_russ_post_url %>
</div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <%= image_tag "BertrandNeutral.png", class: "img-responsive" %>
                <div class="intro-text">
                    <span class="name">Russell Conjugation</span>
                    <hr class="star-light">
                    <span class="skills">Taking Out The Emotion</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="concept-title">Concept</h2>
                <p>From Edge.org(Eric Weinstein)<br>"In order to understand the concept properly you have to appreciate that most words and phrases are actually defined not by a single dictionary description, but rather two distinct attributes:<br>

I) The factual content of the word or phrase.<br>
II) The emotional content of the construction.<br>

Where words can be considered “synonyms” if they carry the same factual content (I) regardless of the emotional content (II). This however leads to the peculiar effect that the synonyms for a positive word like “whistle-blower” cannot be used in its place as they are almost universally negative (with “snitch,” “fink,” “tattletale” being representative examples). This is our first clue that something is wrong, or at least incomplete with our concept of synonym requiring an upgrade to distinguish words that may be content synonyms but emotional antonyms.<br>

The basic principle of Russell Conjugation is that the human mind is constantly looking ahead well beyond what is true or false to ask “What is the social consequence of accepting the facts as they are?”  While this line of thinking is obviously self-serving, we are descended from social creatures who could not safely form opinions around pure facts so much as around how those facts are presented to us by those we ape, trust or fear. Thus, as listeners and readers our minds generally mirror the emotional state of the source, while in our roles as authoritative narrators presenting the facts, we maintain an arsenal of language to subliminally instruct our listeners and readers on how we expect them to color their perceptions. Russell discussed this by putting three such presentations of a common underlying fact in the form in which a verb is typically conjugated:<br>

I am firm. [Positive empathy]<br>
You are obstinate. [Neutral to mildly negative empathy]<br>
He/She/It is pigheaded.  [Very negative empathy]<br>

In all three cases, Russell was describing people who did not readily change their minds. Yet by putting these descriptions so close together and without further factual information to separate the individual cases, we were forced to confront the fact that most of us feel positively towards the steadfast narrator and negatively towards the pigheaded fool, all without any basis in fact."
</p>
            </div>
        </div>
        <div class="row">
                <% @posts.each do |post| %>
                <div class="col-sm-4 portfolio-item">
                <%= link_to post_path(post) do %>
                  <%= image_tag post.image, class: 'img-post' %>
                <% end %>
                </div>
            <% end %>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 paragraph-content">
 <p>This site was created to help combat the manipulative nature of the news media. After first hearing about the concept from Eric Weinstein, I began looking deeper into the impact our emotions have over how we view the world and how these emotions can, in turn, impede our rationality. This site in its current state is heavily flawed but aims to serve as a proof of concept in how we might begin to address this issue, which in today's political climate can have catastrophic real world implications.<br><br>If you would like to work on this project or use this code for any purpose, you can access the GitHub page through the link in the footer.</p>
            </div>

        
        </div>
    </div>
</section>


