
.contact-style {
	text-align: center;
	width: 700px;
	height: 600px;
  	margin: 0 auto;
  	font-family: serif;
  	font-size: 15px;
  	color: #777;
}

#page_title {
	font-family: sans-serif;
	color: #777;
	padding: 30px;
}


#contact_name {
	height: 30px;
	width: 200px;
	margin-bottom: 15px;
}
	


#contact_email {
	height: 30px;
	width: 300px;
	margin-bottom: 15px;

}


#contact_message {
	height: 300px;
	width: 600px;

}

.thanks {
	padding: 20px;
	text-align: center;
	width: 700px;
	
  	margin: 0 auto;
  	font-family: serif;
  	font-size: 15px;
  	color: #2C3E50;
}

.thanks p {
	font-size: 20px;

}

.bertrand-pipe {
	display: block;
    margin: auto;
    padding-bottom: 100px;
}

