body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

p, ol, ul, td {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 25px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

label[for="russ_post_body"] {
  display: none;
}


#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

trix-editor {
  height:500px;
  width:800px;
  overflow: auto;
}

trix-toolbar {
  text-align: center; 
}


.formatted_content {
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}

.h1, h1 {
  text-align: center; 
  color: #2C3E50;
}

.actions {
  text-align: center; 
}

a {
  font-size: 20px;
}

input[type="button"] { 
  font-size: 40px;
  color: #fff; 
  background-color: #2C3E50;
  border:5px solid; 
  border-color: #2C3E50;
  position: relative;
  top: 60px; 
  border-radius: 8px;
}

input[type="submit"] {
  font-size: 30px;
  color: #2C3E50; 
  background-color: inherit;
  border:5px solid; 
  border-color: #2C3E50;
  position: relative;
  top: 20px; 
  border-radius: 8px; 
}

input[type="submit"]:hover {
  background-color: #2C3E50;
  color: #fff;
}


.img-responsive {
  position: relative;
  top: -150px; 
}

header .intro-text .name {
  position: relative;
  top: -145px; 
}

header .intro-text .skills {
  position: relative;
  top: -145px; 
}

hr.star-light {
  display: none;
  position: relative;
  top: -145px; 
}

.eval {
  font-size: 50px;
  color: #2C3E50; 
  text-align: center; 
}

.eval-image {
	 display: block;
   margin: auto;
   padding-top: 30px;

}

.visit {
  color: #18BC9C;
  margin: 5px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button {
  color: #fff;
  background-color: #2C3E50;
  padding: 8px 22px;
  margin: 20px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  border-radius: 8px;
}

.button:hover { 
text-decoration: none; 
}

.visit:hover { 
text-decoration: none; 
}

.intro-text {
  height: 5px;
}

.enter-text {
  color: #2C3E50;
}

.bottom-buttons {

  display:block;
  padding: 25px;
  width: 55%;
  margin-left: 460px;
  }

.row {
  padding-bottom: 30px;
}
